@import 'globals';

*{
    @extend %p-m-bs;
    &::before{
        @extend %p-m-bs;
    }
    &::after{
        @extend %p-m-bs;
    }
}
img{
    width: 100%;
    display: block;
}
a{
    @extend %anchor;
    &:hover{
        @extend %anchor;
    }
}
ul{
    list-style: none;
}
.container{
    padding: 5%;
}
// Navbar and Bachground wrapper
#top-wrapper{
    height: 95vh;
    position: relative;
    background-image: url('../images/desktop/image-hero.jpg');
    background-position: center center;
    background-size: cover;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .ham{
            position: relative;
            z-index: 3;
            cursor: pointer;
        }
        .logo{
            position: relative;
            z-index: 3;
            cursor: pointer;
        }
        .list{
            top: 0;
            z-index: 2;
            position: fixed;
            background-color: black;
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            padding: 2% 4%;
        }
        .nav-hidden{
            left: -100%;
        }
        .nav-visible{
            left: 0;
        }
        li{
            padding: 15px 0;
            font-size: 24px;
            cursor: pointer;
            @extend %josef;
            a{
                color: $dark-grey;
            }
        }
    }
    header{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        .heading{
            color: white;
            @extend %josef;
            padding: 28px;
            border: 2px solid white;
            font-size: 28px;
            width: 100%;
        }
    }
}


/*------------------------Responsive Styles-------------------------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #top-wrapper{
        header{
            .heading{
                width: 65%;
                font-size: 30px;
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container{
        padding: 3% 4%;
    }
    #top-wrapper{
        header{
            .heading{
                width: 50%;
            }
        }
        nav{
            .ham{
                display: none;
            }
            .list{
                position: relative;
                background-color: transparent;
                width: auto;
                height: auto;
                display: block;
                padding: unset;
            }
            ul{
                display: flex;
            }
            li{
                font-family: 'Alata', sans-serif;
                font-weight: 400;
                font-size: 18px;
                margin: 0 10px;
                padding: 10px 10px;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    width: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 2px;
                    background-color: white;
                    bottom: 0;
                }
                &:hover::after{
                    width: 50%;
                }
                a{
                    color: white;
                }
                &:last-child{
                    padding-right:0 ;
                    margin-right: 0;
                }
            }
            .nav-hidden{
                left: 0;
            }
        }
        
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}